button {
  background: none;
  border: none;
  font-family: inherit;
  outline: none;
  text-transform: uppercase;
  padding: $l-size $s-size;
}

button:hover,
.keys-right button:focus {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
