* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 0.1px red solid;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $primary;
  font-family: "Roboto", sans-serif;
  font-size: $m-size;
  text-transform: uppercase;
}

footer {
  color: $off-white;
}

footer a {
  text-decoration: none;
  color: $dark;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
