// Colors
$dark: #140078;
$light: #8559da;
$primary: #512da8;
$off-white: #eeeeee;
$text-dark: #494949;
$text-light: #757575;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
